doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        title Error
    body#Body
        div.page404
            h1 404 Error 
            p The page that you are looking for does not existe, please check the url 
            img(src="./images/339-3396217_view-samegoogleiqdbsaucenao-1527977176857-disappointed-anime-girl-transparent.png", alt="error")
            form(action="*",method="POST") 
                input(type="submit" value="returnToHome")