doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        title landing page
    body 
        header 
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li#login
                        a(href="/login") Login
                    li 
                        a(href="/register") Register
        main 
            h1 welcome to the landing page 
            p いらっしゃいませ 
            img(src="./images/anime-girl-autocollant.jpg", alt="error")
        footer 
            p  &copy; 2023


