doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="./style/main.css")
        title Register
    body 
        header 
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li#login
                        a(href="/login") Login
                    li 
                        a(href="/register") Register
        main 
            form(action="/register", method="POST")#register
                label(for="name") Name
                input(type="text",name="name",id="name")
                label(for="dateOfBirth") Date of birth
                input(type="date",name="dateOfBirth",id="dateOfBirth")
                label(for="email") Email
                input(type="email",name="email",id="email")
                label(for="password") Password 
                input(type="password",name="password",id="password")
                input(type="submit",value="Register")#Button
        img(src="./images/aesthetic-minimal-purple-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-for-your-design-vector.jpg", alt="error")#purpleImage